@charset "utf-8";

#home nav{
    text-align: center;
    padding: 20px;
}
.lista{
    list-style: none;
    margin:auto;
}
nav ul li{
    display: inline;
    padding: 20px;
    margin: 5px 10px;
}
#sobre{
    overflow: hidden;
}
#foto{
    float: right;
    margin-right: 20px;
    position: relative;
    top: -50px;
}
#habilidades{
    clear: both;
}
footer{
    text-align: center;
}