@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Estilo Base*/

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    margin: 10px;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
em{

}
strong{
    font-weight: bolder;
}
a{
}

a:link{
    color: darkslategray;
    text-decoration: none;
}
a:visited{
    color:darkslategray;
}
a:focus{
    color: brown;
}
a:hover{
    color: sienna;
}
a:active{
    color: blueviolet;
}

#logo{
    width: 320px;
    padding-bottom: 5px;
    background-color: aqua;
}
#menu{
    float: right;
    margin: 10px 10px 0 0;
}
#menu ul li{
    display: inline;
    position: relative;
    padding:10px 15px;
    top: -45px;
    background-color: aqua;
}
#banner{
    z-index:-1; 
    background-color: blue; 
    width: 100%; 
    height: 500px; 
    position: relative; 
    top: 60px; 
    bottom: 200px; 
    text-align: left;
    font-size: 30px;
    background-image: url("/imagens/programador.png");
    background-repeat: no-repeat;
    background-position: right;  
}
#banner span{
    display:inline-block;
    margin-top: 160px;
    width: 40%;
    margin-left: 30px;
}
#foto{
    float: left;
    margin: 0 20px 0 10px;
    border-radius: 80px;
}
#sobre{
    clear: both;
    margin-left: 10px;
    margin-top: 50px;
}
#sobre div{
    width: 95%;
}
#sobre div h2{
    margin-bottom: 20px;
}
#sobre ul{
    margin-top: 30px;
    margin-bottom:6%;
}
#sobre ul li{
    display: inline;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: cornflowerblue;    
}
#menu-sobre{
    float: left;
    position: relative;
    top:15px;
    left: 25px;
}
#habilidades{
    clear: both;
    background-color: darkslategrey;
    
}
#habilidades p{
    margin-left: 40px;
    font-size: 2em;
    padding-top: 10px;
}
.progress-bar{
    height: 30px;
    text-align: center;
    background-color: aqua;
    margin: 10px 0 5px 42px;
}
#progress-bar-html{
    width: 70%;
}
#progress-bar-css{
    width: 60%;
}
#progress-bar-js{
    width: 40%;
}
#progress-bar-shell{
    width: 25%;
}
#progress-bar-git{
    width: 25%;
}
#progress-bar-guitarra{
    width: 80%;
}
#progress-bar-game{
    width: 70%;
}
#progress-bar-futebol{
    width: 60%;
}
#progress-bar-cafe{
    width: 90%;
}
#portfolio{
    
}
#portfolio div{
    float: left;
    width: 230px;
    margin: 20px 40px;
}
#portfolio div h3{
    clear: both;
    margin: 0;
    text-align: ;
}
#portfolio div a{
    background-color: cadetblue;
    float: left;
}
footer{
    clear: both;
    text-align: center;
    margin-top: 30px;
}
footer ul li{
    display: inline;
    padding: 10px;
}

.interiorSecao{
    padding-top: 80px;
    padding-bottom: 100px;
}